body {
    margin: 0;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    text-align: center;
    margin: 0px;
    padding: 20px;
    border-bottom: 1px solid gray;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid a {
    text-decoration: underline;
}
#grid ol {
    border-right: 1px solid gray;
    font-size: large;
    padding: 20%;
    margin: 0px;
}
#grid #content {
    padding-left: 4%;
    padding-right: 4%;
}
@media(max-width: 600px) {
    #grid {
        display: block;
    }
    #grid ol {
        border-right: none;
        padding: 5%;
    }
    #grid #content h2 {
        margin: 0px;
    }
    h1 {
        border-bottom: none;
        font-size: 50px;
    }
}